<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wmproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.wmproject.MainActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.wmproject.EventListActivity"
            android:label="@string/title_activity_event_list" >
        </activity>
        <activity
            android:name="com.example.wmproject.TodoActivity"
            android:label="@string/title_activity_todo" >
        </activity>
        <activity
            android:name="com.example.wmproject.IncidentActivity"
            android:label="@string/title_activity_incident" >
        </activity>
        <activity
            android:name="com.example.wmproject.VoterListActivity"
            android:label="@string/title_activity_voter_list" >
        </activity>
        <activity
            android:name="com.example.wmproject.VoteCreateActivity"
            android:label="@string/title_activity_vote_create" >
        </activity>
    </application>

</manifest>
